
.menu{
	border-top-width: 25px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.menu_item {
    float: left;
    margin-left: auto; 
    margin-right:auto;
    width:140px;
    border-radius: 3px;
    margin-bottom: 5px;
}

button {
    margin-left: 40px;
    margin-right: 40px;
    height: 30px;
    color: white;
    background: DarkGray;
    border: none;
    /*border-bottom: 1px solid aqua;*/
}