@font-face{
	font-family: Skarpa;
	src: url(Skarpa_regular.ttf);
}

@font-face{
	font-family: Trench;
	src: url(trench100free.otf);
}

@font-face{
	font-family: Boardgame;
	src: url(kidsboardgamefont.ttf);
}

@font-face{
	font-family: Handwriting;
	src: url(McHandwriting.otf);
}

body {
	background-color: black;
	color: white;
	font-family: Handwriting;
}

.content {
	width: 800px;
	height: 100%;
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
	padding-left: auto;
	padding-right: auto;
}

h4 {
	margin: 0;
	padding: 0;
}

table {
	table-layout: fixed;
	width: 100%;
	padding-top: 50px;
}

td {
	width:50%;
	text-align: center;
}


.banner {
	height:100px;
}

.banner h2{
	padding-top: 25px;
	font-size: 67;
	padding-left: 25px;
}

div.menu {
	text-align: right;
	width:55%;
	float: right;
	border-bottom: 1px solid aqua;
}

div.menu button {
	margin-left: 40px;
	margin-right: 40px;
	height: 30px;
	color: white;
	background: none;
	border: none;
	/*border-bottom: 1px solid aqua;*/
}
.body {

}


.subheading{
	background-color: DimGray;
}